{% extends "main.html" %}
{% load static %}


{% block content %}

   <style>
    .container label{
        color: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    footer{
        margin-top: 250px;
    }
   </style>

    <div class="container">
        <form action="" method="POST" class="w-50 m-auto p-4">
            {% csrf_token %}
            <label for="">Kullanıcı Adı</label>
            <input type="text" name="kullanici" required id="" class="form-control">
            <label for="">Şifre</label>
            <input type="password" name="sifre" required id="" class="form-control">
            <input type="submit" value="Giriş Yap" class="btn btn-secondary">
        </form>
    </div>

{% endblock content %}